body {
  margin-top: 56px;
}

.main {
  margin-bottom: 58px;
  flex: 1;
}

.aside {
  min-width: 40px;
  position: sticky;
  top: 4.5rem;
  /* inset-block-start: 0px; */
  height: calc(100vh - 146px);
  margin-right: 10px;
  flex: 0 1 auto; /* 1 */
  overflow-y: auto;
}

.nav-link.active {
  background-color: #c6c7c8;
}

a.page-link,
a.page-link:hover {
  color: #5a5a5a;
}
